nav {
  position: fixed;
  width: 100%;
  height: auto;
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  color: #999;
  background-color: #333;

  ul {
    display: block;
    margin: 0 auto;
    list-style: none;
    max-width: 600px;
    padding: 20px;

    li {
      display: inline-block;
      width: 25%;
      text-align: center;
      cursor: pointer;
      .transition(0.5s);

      &:hover {
        color: #eee;
      }
    }
  }
}


section {
  /*font-family: "ff-tisa-web-pro",serif;*/
  font-family: "calluna",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  color: #444;

  display: block;
  width: 100%;
  box-sizing: border-box;

  .inner {
    display: block;
    max-width: 800px;
    margin: 0 auto;
  }

  p {
    margin-bottom: 30px;
  }
} 

#home {
  margin: 0 auto;
  padding: 200px 20px 200px;

  text-align: center;

  #portrait {
    display: block;
    width: 233px;
    margin: 0 auto 20px;
  }

  p {
    margin-bottom: 0;
  }
}

#code {
  background-color: #35353A;
  padding: 30px 20px 300px;
  color: #fff;

  h1 {
    text-align: center;
    font-weight: 300;
    font-size: 40px;
    padding: 45px 0;
  }
}

a {
  text-decoration: none;
  color: #999;

  &:hover {
    color: #222;
  }
}
