nav {
  font-family: "brandon-grotesque",sans-serif;
  font-style: normal;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 18px;
  color: #999;

  ul {
    display: block;
    margin: 20px auto 0;
    list-style: none;
    max-width: 600px;
    padding: 20px;

    li {
      display: inline-block;
      width: 25%;
      text-align: center;
      cursor: pointer;
      .transition(0.5s);

      &:hover {
        color: #222;
      }
    }
  }
}


section {
  font-family: "ff-tisa-web-pro",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
  color: #444;
} 

#home {
  display: block;
  width: 100%;
  max-width: 1000px;
  margin: 100px auto 0;
  padding: 0 20px;
  box-sizing: border-box;

  text-align: center;

  #portrait {
    display: block;
    width: 233px;
    margin: 0 auto 20px;
  }
}

a {
  text-decoration: none;
  color: #999;

  &:hover {
    color: #222;
  }
}
